<html>

    <link rel="icon" href = "https://i.imgur.com/vRz9BFk.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <head>
        
        <title>yt-downloader</title>

    </head>

    <body  class = "pt-20 bg-black">

        <p class="md:font-mono text-white text-center text-base md:text-6xl ">YT-DOWNLOADER</p>

        <p class="font-mono text-yellow-300 text-center text-base md:text-4xl pt-5">{{data["message"]}}</p>

    </body>

</html>