<html>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./style/tailwind.css" rel="stylesheet" >
    <head>

        <title>yt-downloader</title>

             <h1 id="text-7xl">YT-DOWNLOADER</h1>
        </div>

        <h4 id="subtitle">Simple to use YouTube Video Downloader</h4>

    </head>

    <body>


        <center>

            <form action="/" method="GET">

                <div class="form-group" style="width: 500px;">

                    <input class="form-control" type="text" placeholder="Insert the link of a YouTube video!" name="input" id="input">

                </div>
            </form>

        </center>
        
    </body>
</html>