<html class="dark">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <head>

        <title>yt-downloader</title>

    </head>

    <body class = "pt-20 bg-black">
        
        <p class="text-white font-mono text-center text-base md:text-6xl ">YT-DOWNLOADER</p>

        <p class="text-gray-300 font-mono text-center text-base md:text-4xl pt-5">Simple to use YouTube Video Downloader</p>

        <center>

            <form action="/" method="GET">
                <input class="border border-transparent focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent ..." >
                    <input class="form-control" type="text" placeholder="Insert the link of a YouTube video!" name="input" id="input">

            </form>

        </center>
        
    </body>
</html>