<html>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./static/tailwind.css" rel="stylesheet" type="text/css">
    <head>

        <title>yt-downloader</title>

        <p class="text-base md:text-6xl">YT-DOWNLOADER</p>

        <p class="text-4xl">ce fa ma</p>

    </head>

    <body>


        <center>

            <form action="/" method="GET">

                <div class="form-group" style="width: 500px;">

                    <input class="form-control" type="text" placeholder="Insert the link of a YouTube video!" name="input" id="input">

                </div>
            </form>

        </center>
        
    </body>
</html>